<h1>Logowanie użytkownika</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :name, "Imię" %>
  <%= f.text_field :name, placeholder: "Imie", autofocus: true %>
  <%= f.label :password, "Hasło" %>
  <%= f.password_field :password, placeholder: "Hasło" %>
  <%= f.submit "Zaloguj się", class: "btn btn-submit" %>
<% end %>
