
<div class="blog-post">
  <h2 class="blog-post-title"><%= @article.title %></h2>
  <p class="blog-post-meta"><%= @article.created_at.strftime("%d %B, %Y") %></p>
</div>
<%= @article.text %>
<% if @article.photo %>
<div class="img">
  <%= image_tag @article.photo.url(:medium), class: "img-rounded" %>
</div>
<% end %>
<hr />
<%= render @article.comments %>
<%= render 'comments/form' %>
