<h1>Lista zdjęć</h1>

<table class='table table-hover borderless'>
  <tbody>
    <tr>
      <th>Nazwa zjęcia</th>
      <th><% if current_user %>
          <%= link_to "Nowe zdjęcie", new_photo_path, class: "btn btn-primary" %>
          <% end %>
      </th>
    </tr>
    <% @photos.each do |photo| %>
    <% file = (File.basename(photo.photo_file_name, File.extname(photo.photo_file_name))).downcase %>
    <tr>
      <td><%= link_to file.humanize, photo_path(photo) %></td>
      <td><%= image_tag photo.photo.url(:thumb)%></td>
      <% if current_user %>
        <td><%= link_to "Edytuj", edit_photo_path(photo), class: 'btn btn-primary' %> <%= link_to 'Usuń', photo_path(photo), method: :delete, class: 'btn btn-primary' %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

